<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.listen.mapper.LibraryMapper">
    <!-- resultMap -->
    <resultMap type="com.listen.pojo.Library" id="LibraryMap">
        <result property="id" column="id"/>
        <result property="src" column="src"/>
        <result property="title" column="title"/>
        <result property="userId" column="userId"/>
        <result property="sonCount" column="sonCount"/>
        <result property="difficulty" column="difficulty"/>
        <result property="classDic" column="classDic"/>
    </resultMap>
    <resultMap id="QueryLibraryVoMap" type="com.listen.pojo.vo.QueryLibraryVo" extends="LibraryMap">
        <collection property="subjects" ofType="com.listen.pojo.Subject"
                    select="com.listen.mapper.SubjectMapper.selectSubjectsByLibId" column="id">
            <id property="id" column="id"/>
            <result property="answer" column="answer"/>
            <result property="optionA" column="optionA"/>
            <result property="optionB" column="optionB"/>
            <result property="optionC" column="optionC"/>
            <result property="optionD" column="optionD"/>
            <result property="sort" column="sort"/>
            <result property="analysis" column="analysis"/>
            <result property="libId" column="libId"/>
        </collection>
    </resultMap>

    <select id="selectLibraryVo" resultMap="QueryLibraryVoMap">
        select *
        from Library
        where id = #{libId}
    </select>

    <select id="selectLibraryList" parameterType="com.listen.pojo.Library"
            resultType="com.listen.pojo.Library">
        select *
        from Library
        where 1 = 1
        <if test="title != null">
            and title = #{title}
        </if>
        <if test="classDic != null">
            and classDic = #{classDic}
        </if>
        <if test="difficulty != null">
            and difficulty = #{difficulty}
        </if>
        <if test="sonCount != null">
            and sonCount = #{sonCount}
        </if>
    </select>

</mapper>