<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.listen.mapper.LibraryPoolMapper">
    <!-- resultMap -->
    <resultMap type="com.listen.pojo.LibraryPool" id="LibraryPoolMap">
        <result property="id" column="id"/>
        <result property="grade" column="grade"/>
        <result property="checkPoint" column="checkPoint"/>
        <result property="score" column="score"/>
        <result property="libraryCount" column="libraryCount"/>
    </resultMap>

    <select id="selectLpByGradeAndCheck" resultMap="LibraryPoolMap">
        select *
        from LibraryPool
        where grade=#{grade} and checkPoint=#{checkPoint}
    </select>

    <select id="selectLPLibrary" parameterType="map" resultType="com.listen.pojo.Library">
        select *
        from Library l
        where l.id in (
            select sllp.libId
            from SysLibraryLibraryPool sllp,
            LibraryPool lp
            where l.id = sllp.libId
            and lp.id = sllp.lpId
            and lp.id = #{lpId}
            <if test="classDic != null">
                and l.classDic = #{classDic}
            </if>
            <if test="title != null">
                and l.title = #{title}
            </if>
            <if test="difficulty != null">
                and l.difficulty = #{difficulty}
            </if>
            <if test="sonCount != null">
                and l.sonCount = #{sonCount}
            </if>
        )
    </select>


</mapper>
